--extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.1+cu117
--extra-index-url https://download.pytorch.org/whl/cu117
torchvision==0.14.1+cu117
pytorch-lightning==1.9.5
lightning==2.0.6
yacs
numpy
tqdm
opencv-contrib-python-headless
imageio==2.9.0
Pillow
matplotlib
scikit_learn
geoopt
autopep8
cityscapesscripts
einops
setproctitle
wandb
mmcv-full