torch
torchvision
pytorch-lightning
lightning
yacs
numpy
tqdm
opencv-contrib-python-headless
imageio==2.9.0
Pillow
matplotlib
scikit_learn
geoopt
autopep8
cityscapesscripts
einops
setproctitle
wandb
mmcv-full